[submodule "Projetos/sd-030-a-project-frontend-online-store"]
	path = Projetos/sd-030-a-project-frontend-online-store
	url = https://github.com/tryber/sd-030-a-project-frontend-online-store.git
[submodule "Projetos/sd-030-a-project-shopping-cart"]
	path = Projetos/sd-030-a-project-shopping-cart
	url = https://github.com/tryber/sd-030-a-project-shopping-cart.git
[submodule "Projetos/sd-030-a-project-react-testing-library"]
	path = Projetos/sd-030-a-project-react-testing-library
	url = https://github.com/tryber/sd-030-a-project-react-testing-library.git
[submodule "Projetos/sd-030-a-project-solar-system"]
	path = Projetos/sd-030-a-project-solar-system
	url = https://github.com/tryber/sd-030-a-project-solar-system.git
