[submodule "Exercícios/exercise-digimon-finders-tests"]
	path = Exercícios/exercise-digimon-finders-tests
	url = https://github.com/Kadu-da-Silva/exercise-digimon-finders.git
[submodule "Exercícios/exercise-forms-redux"]
	path = Exercícios/exercise-forms-redux
	url = https://github.com/tryber/sd-030-a-exercise-forms-redux.git
[submodule "Exercícios/exercise-pokedex-router"]
	path = Exercícios/exercise-pokedex-router
	url = https://github.com/tryber/sd-030-a-exercise-pokedex-router.git
[submodule "Exercícios/exercise-dog-image"]
	path = Exercícios/exercise-dog-image
	url = https://github.com/tryber/sd-030-a-exercise-dog-image.git
[submodule "Exercícios/exercise-react-form"]
	path = Exercícios/exercise-react-form
	url = https://github.com/tryber/sd-030-a-exercise-react-form.git
[submodule "Exercícios/exercise-pokedex-state"]
	path = Exercícios/exercise-pokedex-state
	url = https://github.com/tryber/sd-030-a-exercise-pokedex-state.git
